$fuente : 'Pangolin', cursive; 
$cursiva:  'Pacifico', cursive;

body{
    margin: 0%;
}

.hidden{
    display: none;
}

.background{
    width: 100%;
    height: auto;
}
.background img{
    width: 100%;
    position: absolute;
    z-index: 1; 
}

.main-container{
    width: 350px;
    height: auto;
     border: solid;
     border-width: 15px;
    border-radius: 5%;
    background-color: bisque;
     position: absolute;
     z-index: 1;
      padding: 15px;
     text-align: center;
     margin-left: 35%;
     margin-top: 2%;
     font-family: $fuente;
     font-size: 15px;
     h1{
    font-family: $cursiva;
     color:#0099ff;
     }
  }

.input{
    width: 300px;
}

.botones{
    display: flex;
    flex-direction: column; 
        button{
            border-radius: 45%;
            border: none;
            border-radius: 25px;
            padding: 8px 60px;
            background-color:#ffa31a;
            border: none;
            padding: 5px;
            color: white;
            margin: 8px;
        }
}
button:hover{
    background-color: #ff944d;
}

.appear{
    background-color: #ff99c2;
    width: 90%;
    height: 20%;
    border-radius: 10px;
    padding: 1px 20px;
    color:#b30000;
    font-size: 15px;

}
.em-question{
    font-size: 12px;
}

/*Tablero, cartas dadas vuelta*/

.board{
    width:70%;
    height: auto;
    border: solid;
    border-radius: 2%;
    border-width: 15px;
    background-color: bisque;
    text-align: center; 
    position: absolute;
    z-index: 1;
    font-family: $fuente;
    font-size: 15px;
    margin-left: 10%;
  
     h1{
        font-family: $cursiva;
         color:#0099ff;
         }
}

.opacity{
  opacity: 0.3;
}

.imagenes{
    width: 450px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 27%;
    .carta{
        width: 20%;
        height: auto;
        padding: 10px;  
    }
    .carta img{
        width: 100%;
        height: 100%;
        border: solid;
        border-color: #ffa31a;
        border-width: 2px;  
    }
}

.girar{
    transform-style: preserve-3d;
    transition: 0.9s;
    transform: rotateY(180deg);
}
.attempts{
    border: solid;
    border-width: 4px;
    border-color: #0099ff;
    background-color: white;
    border-radius: 10px;
    padding: 8px 200px;
    margin-bottom: 10px;
    margin-top: 8px;
}
//cuando las cartas coinciden. agregar esta clase

.filter {
    filter: grayscale(100%);
 }

//Ranking

.ranking{
    position: absolute;
    z-index: 1;
    border: solid;
    width: 550px;
    height: auto;
     border: solid;
    border-radius: 5%;
    background-color: bisque;
    padding: 15px;
     text-align: center;
     margin-left: 25%;
     margin-top: 2%;
     font-family: $fuente;
     font-size: 15px;
     .play{
        border-radius: 45%;
        border: none;
        border-radius: 10px;
        background-color:#ffa31a;
        border: none;
        padding: 10px 20px;
        color: white;
        margin: 8px;
     }
}

.lose{
    position: absolute;
    z-index: 1;
    border: solid;
    width: 550px;
    height: auto;
     border: solid;
    border-radius: 5%;
    background-color: bisque;
    padding: 15px;
     text-align: center;
     margin-left: 25%;
     margin-top: 2%;
     font-family: $fuente;
     font-size: 15px;
     .play{
        border-radius: 45%;
        border: none;
        border-radius: 10px;
        background-color:#ffa31a;
        border: none;
        padding: 10px 20px;
        color: white;
        margin: 8px;
     }
}

.table{
    border: solid;
    margin-left: 10%;
    border-bottom: solid;

   .indicadores{
       display: flex;
       justify-content: space-around;   
   }
   p{
       width: 100%;
       height: 100%;
   }
   .valores{
     border-bottom: solid;
     display: flex;
     justify-content: space-around;
    .nombres{
        display: flex;
        flex-direction: column;
    }
    .niveles{
        display: flex;
        flex-direction: column;
    }
    .intentos{
        display: flex;
        flex-direction: column;
    }
   }   
}

//version mobile

@media (max-width: 800px) {
    .background{
    display: block;
     width: 50%;
     height: 100%;
    }
    .background img{
        width: 100%;
        height: 100%;
    }
    .main-container{
        width: 150px;
        height: 500px;
        .input{
            width: 150px;
        }
        .appear{
            width: 70%;
            height: 10%;
            font-size: 10px;     
        }
    }

    //tablero mobil

    .board{
        width: 55%;
        height: 95%;
    }
    .imagenes{
        width: 200px;
        height: auto;
        padding: 5px;
        margin-left:2%;
        .carta{
            width: 25%;
            height: auto;
            padding: 5px;  
        }   
    }
    .attempts{
     padding: 8px 25px;
     margin-bottom: 10px;
     margin-top: 8px;

    }
    //ranking. ganaste y perdiste

.lose{
    width: 150px;
    height: auto;
    margin-left: 25%;
    margin-top: 10%;
}

.ranking{
    width: 170px;
    height: auto;
    margin-left: 25%;
    margin-top: 10%;
}
.table{
    margin-left: 0%;
    width: 180px;
    height: auto;
    margin-right: 10%;
    padding-right: 3px;
    padding-left: 3px;

   .indicadores{
       display: flex;
       justify-content: space-around;
       width: 152px;     
   }
   p{
       width: 70%;
       height: 70%;
   }
   .valores{
       display: flex;
       justify-content: space-around;
   }
    
}
}

